[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
borgini = {editable = true, path = "."}
bump2version = "==1.0.1"
freezegun = "==1.1.0"
ipython = "==7.29.0"
prompt-toolkit = "==3.0.21"
pyaud = "==3.2.8"
pytest = "==6.2.5"
restview = "==2.9.2"
twine = "==3.5.0"

[packages]
borgbackup = "==1.1.17"
pygments = "==2.10.0"

[requiresduplicate-code]
python_version = "3.8"
